
<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE= edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>TESIP</title>
            <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
            <link rel="stylesheet" href="../css/estilo.css"/>
        </head>
        <body>
            <header>
                <section>
                    <div class="caja">
                        <h1> <img width="30px" src="../img/chip.jpg"> </h1>
                        <nav>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="Productos.html">Productos</a></li>
                                <li><a href="Contacto.html">Contacto</a></li>
                            </ul>
                        </nav>
                    </div>
                </section>
            </header>

            <main>
                <section class="principal">
                    <div class="container"><br>
                        <div class="row">
                            <div class="jumbotron text-center">
                                <div class="col-md-4">
                                    <div class="card">
                                        <br><h3 style="text-align: center">Espacio3 - GrupoM</h3><hr>
                                        <img width="300px" class="card-img-top" src="../img/espacio3.jpg" alt="">
                                        <div class="card-body">
                                            <h4 class="card-title">Grupo M1 - para grupos de 2 a 4 personas.</h4><br>
                                            <h5 class="card-title">Espacio ideal de trabajo para equipos/grupos pequeños o individuales.</h5>
                                            <a name="+info" id="+info" class="btn btn-info" href="https://github.com/" onclick="window.open(this.href, 'new', 'popup'); return false;" role="button" style="padding: 12px 18px 11px 18px;"><h5><strong>Ver más</strong></h5></a>
                                            <a name="apartar" id="apartar" class="btn btn-success" href="./apartado.php" target="_blank" role="button" style="padding: 12px 18px 11px 18px;"><h5><strong>Apartar</strong></h5></a>
                                        </div>                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>

            <footer>
                <section>

                </section>
            </footer>
        </body>
    </body>
</html>
