
<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE= edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>TESIP</title>
            <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
            <link rel="stylesheet" href="../css/estilo.css"/>
        </head>
        <body>
            <header>
                <div class="caja">
                    <ul>
                        <li>
                            <h1> <img width="90" src="../img/chip.jpg"> </h1>
                        </li>
                        <li>
                            <a href="../index.php"><h3>Inicio</h3></a>
                        </li>
                        <li>
                            <a href="../productos.php"><h3>Servicios y Productos</h3></a>
                        </li>
                        <li>
                            <a href="../nosotros.php"><h3>Acerca de</h3></a>
                        </li>
                        <li>
                            <a href="../contacto.php"><h3>Contacto</h3></a>
                        </li>
                    </ul>
                </div>
            </header>
            
            <main>
                <section class="principal"><hr><br>
                    <div class="row">
                        <div class="column">
                            <h2>Espacio2 - GrupoG</h2><br>
                            <h4>Grupo G1 - Espacio para grupos de trabajo de 2 a 5 personas. Espacio amplio con mesa y pizarra digital para trabajar. Contamos con distintos lugares:</h4>
                            <ul> 
                                <li><strong>- Mesa General</strong></li>
                            </ul><br>
                            <a href="../apartado.php" target="_blank" role="button" style="text-decoration: none;"><button class="boton"><h5><strong>Apartar Espacio</strong></h5></button></a>
                        </div>
                        <div class="column"><br>
                            <div class="img">
                                <img src="../img/espacio2.jpg" alt="Espacio1" title="Espacio de trabajo para mas de 9 personas">
                            </div>
                        </div>
                    </div><br><hr>
                </section>
            </main>

            <footer>
                <div class="copyright">
                    <a href="../index.php" ><img width="120" src="../img/chip.jpg"></a>
                    <p style="color: #FFFFFF; font-size: 13px; margin: 20px;" >&copy Copyright TESIP - 2023</p>
                </div>
            </footer>
        </body>
    </body>
</html>
